@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.line{
  border-bottom: 2px solid black;

}

.topbar{
    height: 30px;
    background-color: #eceaea;
}

.topbar img{
    position: absolute;
    width: 30px;
    right: 0;
    margin-right: 200px;
    margin-top: 3px;
    border-radius: 50%;
}

.topbar a{
    position: absolute;
    right: 0;
    margin-right: 125px;
    margin-top: 6px;
    border-radius: 50%;
    font-size: 10pt;
    text-decoration: none;
    color: black;
}




#navbar{
    display: flex;
    top: -1px;
    position: sticky;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: white;
    border-bottom: 2px solid black;
    z-index: 999;

}.logo{
    width: 100px;
}
.search input[type=text]{
    width: 400px;
    padding: 5px 50px 5px 10px;


}.search button{
    font-size: 14px ;
    background: none;
    border: none;
    margin-left: -30px;
    cursor: pointer;
}


.account-btn{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 14pt;
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
}

.account-btn:hover{
  background-color: #eceaea;
 
}

.account-menu{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  margin-top: -10px;
  position: absolute;
  background-color: #eceaea;
  width: 120px;
  left: 0;
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
}
.account-menu button{
  border: none;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.account-btn:hover .account-menu{
  opacity: 1;
  visibility: visible;
  margin-top: 10px;
}

.login{
  background-color: black;
  color: white;
  
}
.register{
  background-color: white;
  color: black;
}
.login:hover{
 
 color: black;
 background-color: aquamarine;
  cursor: pointer;
  }

.register:hover{
  background-color: rgb(165, 216, 199);
  cursor: pointer;
}


.cart-btn{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 14pt;
}


.cart-btn i span{
  position: absolute;
  left: 0;
  margin-left: 20px;
  margin-top: -17px;
  background-color: black;
  color: white;
  font-size: 9pt;
  padding: 3px;
  border-radius: 50%;
  font-weight: bold;
}


#menu>a{
    color: black;
    text-decoration: none;
    font-size: 11pt; 
    padding: 13px 25px;
    margin: 0;
}
#menu>a:hover{
  background-color: black;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}


#menu{
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.account-btn i{
    padding-right: 8px;
}

.cart-btn i{
    padding-right: 8px;

}

#offer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 18px;;
    margin: auto;
    background-color:#eceaea;
}

#offer>a{
    color: black;
    text-decoration: none;
    font-size: 12pt;

}

#offer i{
    padding-right: 8px;
}

#off{
    background-color: rgb(97, 84, 84);
    color: white;
   margin:20px 80px;
    padding: 10px;
    text-align: center;
}

#off:hover{
    background-color: rgb(199, 196, 196);
    color: rgb(0, 0, 0);
    margin:20px 80px;
    padding: 10px;
    text-align: center;
}




/* ------------------------------------------------------------ */





.main-slider-container{
    position: relative;
  
    width: 90%;
    margin: auto;
    overflow: hidden;
  }
  
  
  
  .slider-container{
    position: relative;
  
  /*   background: red; */
    margin-top: 20px;
  }
  
  .inner-slider{
    display: flex;
 
    transition: all 0.3s ease-in-out;
  
  }
  
  .inner-slider img{
    width: 100%;
  }
  
  #id1, #id2, #id3{
    display: none;
  }
  
  #id2:checked ~ .image1{
    margin-left: -1500px;
    transition: 0.2s;
  }
  
  #id3:checked ~ .image1{
    margin-left: -3000px;
    transition: 0.2s;
  }
  
  
  
  .slider-navigation{
    display: flex;
    position: absolute;
    font-size: 14pt;
    left: 50%;
    bottom: 0;
    background: #f1f3f6;
    
  }
  
  .slide-nav{
    margin: 0px 5px;
  }
  
  .slide-nav i:hover{
    color: #2874f0;
  }

  /* ----------------------------------------------- */

#category-h{
    margin: 20px 0px ;
   
    text-align: center;
   
}

  #category{
    display: flex;
    justify-content: space-evenly;
 
  }

  .category-img{
   width: 200px;
    opacity: 0.7;
  }

  .category-img:hover{
  
    opacity: 1;
  }

  #trending-offers{
    margin: 20px 0px ;
    text-align: center;
  }




  #trending{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(3,1fr);
     gap: 10px 20px; 
    
  }

  #trending img{
    border-radius: 50%; 
    width: 80%;
  } 

  .trending-child{
    text-align: center;
    margin: 25px 15px;
   
    
  }
  #trending a{
    text-decoration: none;
    color: black;

  }
  #trending button{
    padding: 10px;
    margin: 10px 20px;
    opacity: 0.6;
    background-color: white;
  }
  #trending button:hover{
    background-color: rgb(196, 237, 224);
    cursor: pointer;
  }

  .trending-child p{
    opacity: 0.6;
  }

/* --------------------------------------------------------------------- */


h1{
  margin: 20px 0px ;
   
  text-align: center;
}

#what_buying{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
  gap: 10px 20px;
 
}
#what_buying img{
  width: 80%;
}
#what_buying button{
padding: 10px;

}

  
.what_buying_child{
  text-align: center;
  margin-bottom: 80px;
}


/* -------------------------------------------------------------- */

#brands{
  display: flex;
  justify-content: space-evenly;
  margin: 20PX 10PX;

}#brands img{
  width: 10%;

}

/* ---------------------------------------------------------------------- */

#blog{
  display: flex;
  justify-content: space-evenly;
  
  align-items: center;
  text-align: center;
 
}
#blog img{
  width: 400px;
  border-radius: 50%;
}
#blog p{
  width: 400px;
  color: black;
  opacity: 0.6;;
 
}#blog a{
  text-decoration: none;
}

#blog button{
  padding: 8px;
  margin: 10px 10px;
  
  background-color: white;
}
#blog button:hover{
  background-color: rgb(196, 237, 224) ;
  cursor: pointer;
}

#blog h3{
  color: black;
  margin-bottom: 10px;
}

#bottom-hr{
  margin-top: 100px ;
}

/* -------------------------------------------------------------------- */


#footer-1{
  display: flex;
width: 90%;
margin: auto;
justify-content: space-between;
}
#footer-1 div{
  width: 65%;
}
#footer-1 div:nth-child(2){
padding: 20px;
  margin-right: 170px;
}
#icons{

margin-top: 20px;
}
#icons>img{
  width: 35px;
  margin-right: 8px;

}
#footer-sign{
  width: 500px;

 
}
#footer-sign h5{
  margin-top: 20px;
}
#footer-sign button{
  margin-top: 30px;
  padding: 10px;
}


#footer-2{
  display: flex;
width: 90%;
margin: auto;
justify-content: space-between;
}
#footer-2>div:first-child,
#footer-2>div:nth-child(2) div
  {
  border-top: 1px solid lightgray;
}
#footer-2>div:nth-child(2) div
{
  margin-left: 20px;
}
#footer-2>div:nth-child(2){
display: flex;
justify-content: space-between;
}
#child-1{
width: 40%; 
padding: 15px;
}
#child-1>h5,#child-1 p{

  padding: 10px;
}
#child-1 p i{
  margin-right: 8px;
}
#footer-2>div:nth-child(2) div h5,
#footer-2>div:nth-child(2) div p{
 
  padding: 15px;
}

#child-3{
  width: 280px;
}


/* ----------------------------------------------- */

#details p{
  opacity: 0.6;
  margin-bottom: 40px;
}
